<section fxLayout="column" class="kk-content kk-full-height">
	<div fxLayout="row" fxLayoutAlign="space-between stretch" fxFlex>
		<span fxFlex></span>
		<div fxLayout="column" fxLayoutAlign="center stretch" fxFlex>
			<img src="assets/images/tree-swing.svg" class="kk-home-image kk-non-selectable kk-no-focus">
			<div fxLayout="row" fxLayoutAlign="center center">
				<span class="kk-font-mina kk-font-size-2-em kk-padding-vertical-15px">কাব্যকাহিনী</span>
			</div>
		</div>
		<span fxFlex></span>
	</div>
</section>
