<div class="kk-fab-menu">
	<button mat-fab [matMenuTriggerFor]="menu" color="primary" class="kk-fab-menu-button">
		<mat-icon>import_contacts</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<button mat-menu-item>
			<mat-icon class="kk-color-two">drafts</mat-icon>
			<span class="kk-font-mn kk-font-size-1-em kk-color-four">submit your work</span>
		</button>
		<button mat-menu-item>
			<mat-icon class="kk-color-two">home</mat-icon>
			<span class="kk-font-mn kk-font-size-1-em kk-color-four">home</span>
		</button>
	</mat-menu>
</div>
