<section class="kk-home kk-non-selectable kk-no-focus" fxLayout="column">
    <div fxLayout.xs="column" fxLayout.gt-xs="column" fxLayout.sm="column" fxLayout.gt-sm="column" fxLayout.md="row"  fxLayout.gt-md="row"
         fxLayout.lg="row" fxLayout.gt-lg="row" fxLayout.xl="row" fxLayoutAlign.xs="start center" fxLayoutAlign.gt-xs="start center"
         fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="start center" fxLayoutAlign.md="space-between start"
         fxLayoutAlign.gt-md="space-between start" fxLayoutAlign.lg="space-between start" fxLayoutAlign.gt-lg="space-between start"
         fxLayoutAlign.xl="space-between start" class="kk-non-selectable kk-no-focus">
        <div fxLayout="column" fxLayoutAlign="start center" fxFlex class="kk-margin-bottom-3p">
            <img fxFlex="100" src="assets/images/tree-swing.svg" class="kk-home-image kk-non-selectable kk-no-focus">
            <div fxLayout="row" fxLayoutAlign="center start" fxFlex="100" class="kk-padding-top-3p">
                <span fxShow.xs="false" fxShow.sm="false" fxShow.md="true" fxShow.lg="true" fxShow.xl="true"
                class="kk-font-size-3-3-em kk-line-height-1-5-em kk-font-gal kk-color-five kk-non-selectable kk-no-focus">কাব্যকাহিনী</span>
                <span fxShow.xs="true" fxShow.sm="true" fxShow.md="false" fxShow.lg="false" fxShow.xl="false"
                class="kk-font-size-2-em kk-line-height-1-5-em kk-font-gal kk-color-five kk-non-selectable kk-no-focus">কাব্যকাহিনী</span>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex class="kk-non-selectable kk-no-focus">
            <div fxLayout="column" fxLayoutAlign="center start" class="kk-non-selectable kk-no-focus">
                <span fxShow.xs="false" fxShow.sm="false" fxShow.md="true" fxShow.lg="true" fxShow.xl="true" class="kk-margin-top-20vh"></span>
                <span class="kk-font-size-1-7-em kk-font-bd kk-letter-spacing-2px kk-color-seven kk-padding-vertical-8px kk-non-selectable
                kk-no-focus">দুঃখ হচ্ছে, এমন অনুভূতি</span>
                <span class="kk-font-size-1-7-em kk-font-bd kk-letter-spacing-2px kk-color-seven kk-padding-vertical-8px kk-non-selectable
                kk-no-focus">যেটা প্রায় প্রাণী পায়,</span>
                <span class="kk-font-size-1-7-em kk-font-bd kk-letter-spacing-2px kk-color-seven kk-padding-vertical-8px kk-non-selectable
                kk-no-focus">কিছু দুঃখের স্মৃতি গুলি-</span>
                <span class="kk-font-size-1-7-em kk-font-bd kk-letter-spacing-2px kk-color-seven kk-padding-vertical-8px kk-non-selectable
                kk-no-focus">মনে জায়গা করে নেয়!</span>
            </div>
        </div>
    </div>


    <app-content-list></app-content-list>
</section>


